<mat-toolbar class="navbar" color="primary">
  <mat-toolbar-row class="navbar-container">
    <span class="navbar-logo">Nick Stahl's WebSite</span>
    <div class="navbar-buttons">
      <a routerLink="/home">
        <h4>Home</h4>
      </a>
    </div>
    <div class="navbar-buttons">
      <a routerLink="/aboutme">
        <h4>About Me</h4>
      </a>
    </div>
    <div class="navbar-buttons">
      <a routerLink="/contactme">
        <h4>Contact Me</h4>
      </a>
    </div>
  </mat-toolbar-row>