<app-navbar></app-navbar>
<div class="container">
    <div class="intro">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, dolorem.
        Modi maiores nesciunt fugiat, nihil sint libero fugit. Quibusdam, iusto?
        Nemo soluta exercitationem tenetur temporibus voluptatem. Repudiandae quas quia nemo.
        Voluptatem ad harum praesentium dignissimos iusto sed consequatur perspiciatis velit.
        Provident incidunt, consequatur dolorum sunt ex maxime totam nulla omnis?
    </div>

</div>
<app-footer></app-footer>