.container {
    width: 100%;
    height: 100%;
    background-color: #000814;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFD60A;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 25vh;
}