<app-navbar></app-navbar>
<div class="container">
    <div class="image-of-me">
        <img src="../../../assets/images/My_Main.jpg" alt="" />
    </div>
    <div class="intro">
        <span> Welcome to my slice of the pie! I have been in the IT space for well over a decade and have been coding
            for a little over 5 years now. I recently
            graduated <a href="https://masterpolyglots.com/welcome"> Master Polyglots Coding Bootcamp</a> in January of
            2023 and offically got my coding certificate. I am now offically a Full Stack Angular Software
            Engineer. Master Polyglots allowed me to gain
            a deeper understanding and learn the patterns to take my coding career to the next level!</span>
    </div>
</div>
<app-footer></app-footer>