<app-navbar></app-navbar>
<div class="container">
    <div class="intro">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, ipsam!
        Perferendis provident corrupti est dolorum illo velit autem debitis delectus.
        Expedita soluta at commodi, praesentium impedit tempore culpa illum molestiae?
        Maiores dolorem cumque doloremque, vel asperiores aliquid iusto quam dolorum.
        Nulla voluptatibus id ad, aut suscipit harum voluptatem similique eveniet.
    </div>
</div>
<app-footer></app-footer>